html{
	background: #88DEE8;
}

#head{
	background: #FF877A;
	height:110px;
	border-style: solid;
	border-color: yellow;
	font-family: verdana;
	font-weight: bold;
	color: white;
	text-align: center;
	
}

#bar{
	list-style-type: none;
	margin:1;
	width: 200px;
	padding: 10;
	overflow: hidden;
	background-color: black;
	
}
li{
	float:left;

}
li a{
	display: block;
	color:white;
	font-family: verdana;
	text-align: center;
	padding: 14px 16px;
	
}

